.measureOverlay {
  position: relative;
  background-color: #1890ff;
  color: #fff;
  padding: 3px 8px;
  &:after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;

    display: block;
    border: 15px solid transparent;
    border-top-color: #1890ff;

    transform: translate(-50%, 60%);
  }
}
