$color-bg-main: white;
$color-bg-search-mark: #f1eff7;
$color-bg-modal: #80808066;

$color-border-picker: #1890ff;

$Mobile-max-width: '440px';
$PC-max-width: '1200px';

$z-index-modal: 5;
$z-index-menu: 4;
$z-index-controls: 4;
