@import '../../sass/variables.scss';

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 40px;
  right: 10px;
  z-index: $z-index-menu;

  width: 350px;
  height: 90%;

  padding: 20px 20px;

  background-color: $color-bg-main;
  @media (max-width: $Mobile-max-width) {
    & {
      width: 80%;
      top: 0;
      right: 0px;
      height: 100%;
    }
  }
}

.controls {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: $z-index-menu;
  @media (max-width: $Mobile-max-width) {
    & {
      top: 70px;
      right: auto;
      left: 5px;
    }
  }
}

.filter {
  margin-bottom: 10px;
}
.list {
  overflow: auto;
}
