@import '../../sass/variables.scss';

.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: $color-bg-modal;
  z-index: $z-index-modal;
}

.wrapper {
  position: relative;
}

.buttonContainer {
  position: absolute;
  top: -7%;
  right: -7%;
  @media (max-width: $Mobile-max-width) {
    & {
      left: auto;
      top: -20px;
      right: 0px;
    }
  }
}
